.multiple {
  .input {
    text-align: center;
    color: white;
    background-color: transparent;
    border-top: 1px solid rgb(255, 136, 1);
    border-bottom: 1px solid rgb(255, 136, 1);
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  .minus_button {
    // border-radius: 100px 0px 0px 100px;
    background-color: rgb(255, 136, 1);
    border: 1px solid rgb(255, 136, 1);
    color: white;
    padding: 10px;
  }
  .plus_button {
    // border-radius: 0px 100px 100px 0px;
    background-color: rgb(255, 136, 1);
    border: 1px solid rgb(255, 136, 1);
    color: white;
    padding: 10px;
  }
}
