
body {
    background-color: #000 !important;
}

.slider {
    width: 100%;
    height: 300px;
    background-color: transparent;
}
.result_text {
    margin-bottom: 1rem;
    color: #ddd;
}
.page_description {
    width: 100%;
    color: #ddd;
    font-size: 1rem;
}
.bet_content {
    font-size: 2rem;
    color: #ddd;
}
.bet_button {
    padding: 2px;
}
.flex-between {
    justify-content: space-between;
    width: 100%;
}
.multiple_first {
    border: 1px solid #555;
    border-radius: 100px;
    background-color: transparent;
    color: #ddd;
    padding: 0.5rem;
    text-align: center;
}

.row_center {
    text-align: -webkit-center;
}
/* customizing previous styles*/
table {
    border-bottom: none;
    margin: 0;
}
.vertical-center {
    vertical-align: middle;
    display: flex;
    align-items: center;
}
input {
    outline: none;
}
/* customizing material UI styles*/

.MuiTable-stickyHeader {
    border-collapse: collapse;
}
.MuiPaper-root {
    background-color: transparent !important;
}
.MuiTableCell-root {
    border-bottom: none !important;
}
.MuiTableCell-root::-webkit-scrollbar {
    display: none;
}
.makeStyles-container-2::-webkit-scrollbar{
    display: none;
}
.makeStyles-container-9::-webkit-scrollbar{
    display: none;
}
.makeStyles-container-16::-webkit-scrollbar{
    display: none;
}
.makeStyles-container-23::-webkit-scrollbar{
    display: none;
}
