.__odd_theme {
  transform: skew(-10deg);
  transform-origin: bottom left;
  border: 1px solid rgba(255, 136, 1, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title_area {
    padding: 0.3rem 0;
    width: 40%;
    text-align: center;
    background-color: rgba(255, 136, 1, 0.7);
    p {
      transform: skew(10deg);
      color: white;
      margin: 0;
    }
  }
  .description_area {
    padding: 0.3rem 0;
    text-align: center;
    width: 60%;
    p {
      transform: skew(10deg);
      color: rgb(255, 136, 1);
      margin: 0;
    }
  }
}
