/*-------------------
    Software Styles
--------------------*/

.phone__images {
    text-align: center;
}

.dg__software__inner {
    h2 {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 36px;
        padding-right: 8%;
    }
    p {
        margin-bottom: 10px;
    }
    .available__device {
        display: flex;
        flex-wrap: wrap;
        list-style: outside none none;
        padding: 0;
        li {
            flex-basis: 50%;
            margin-top: 40px;
        }
    }
    .software__features {
        list-style: none;
        li {
            // background-color: red;
            color: #777;
            // flex-basis: 50%;
            // margin-top: 40px;
        }
    }
}

.dg__software--2 {
    .dg__software__inner {
        h2 {
            color: #e6e6e6;
        }
        p {
            color: #e6e6e6;
        }
    }
}
.mobile__bg {
    position: absolute;
    left: 0;  
    top: 0px;
    width: 300px;
    pointer-events: none;
    will-change: transform;
    transform: translateY(-250px);
}
.section-padding--tb {
    padding: 140px 0 130px;
}

/* Responsive Css*/

@media #{$lg-layout} {}

@media #{$md-layout} {
    .dg__software__inner h2 {
        font-size: 33px;
        margin-bottom: 36px;
    }
    .mobile__bg {
        transform: translateY(0px);
    }



}

@media #{$sm-layout} {
    .dg__software__inner h2 {
        font-size: 26px;
        margin-bottom: 20px;
        padding-right: 0;
        line-height: 36px;
    }
    .mobile__bg {
        transform: translateY(0px);
    }


}

@media #{$xs-layout} {
    .dg__software__inner .available__device li a img {
        width: 100%;
    }
    .dg__software__inner .available__device li {
        padding: 0 10px;
    }
    .dg__software__inner .available__device {
        margin-left: -10px;
        margin-right: -10px;
    }
    .mobile__bg {
        transform: translateY(0px);
    }
}

@media #{$xxs-layout} {}