.betting_table {
    width: 100%;
    height: auto;
    text-align: -webkit-center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(180deg, #42413d, #000,);
    box-shadow: 0px 5px 5px rgba(66, 65, 61, .5);
}
.table_container {
    width: 90%;
    text-align: -webkit-center;
}
.date_area {
    width: 100%;
    border-radius: 100px;
    border: 2px solid rgb(255, 222, 151);
    text-align: center;
    background-color: #222;
    padding: 10px 0;
    box-shadow: 5px 10px 10px #222;
}
.date_text {
    color: grey;
    margin: 0;
}
.result_title {
    color:rgb(255, 136, 1);
    text-align: left;
    margin-top: 2rem;
    font-size: 1rem;
}
.table_section {
    border: none;
    margin-top: 2rem;
    tbody {
        .table_row {
            border: none;
            td {
                color: #ddd;
                // width: 50%;
                border: none;
                border-bottom: 1px solid #555;
            }
            th {
                color:rgb(255, 136, 1);
            }
        }
    }
}